################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineShop.Tests/bin/
/OnlineShop.Tests/obj/
